<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>chatroom</title>
    <link href="/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="/">sinatra, websockets, and amqp</a></h1>
        <h2>subtitle about title</h2>
      </hgroup>
    </header>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>